@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Thin.ttf);
	font-weight: 100;
}
@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Bold.ttf);
	font-weight: 700;
}
@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Black.ttf);
	font-weight: 900;
}


.title-big{
	font-size: 40px;
	font-weight: 400;
}

.title{
	font-size: 24px;
	font-weight: 400;
}