$surface-1: #F8F9FA;
$surface-2: #303030;
$surface-2-contrast: white;

$cyan-pallete: (
	dark: #0dbfbf,
	base: #18FFFF,
	light: #9bffff,
);

$cyan-contrast: black;

$red-pallete: (
	base: #FF1744
);
$red-contrast: white;

$strong-pink: #ff5572;