<!-- #region Introduction -->
<h1 class="title-big">Cheat Sheet</h1>

<p>
	The objective of this guide is to compile lots of Angular, html, css and typescript tricks into one Cheat Sheet.
</p>
<p>
	As far as I'm concerned, the hardest part of being a developer is not knowing how to do something.
	It's a pain to get stuck on something and spending hours trying to find an answer.
	Sometimes we do find the answer, but don't understand it.
	So, I'll just write down anything I think it's useful for front-end development as If I'm explaining it to a 5
	year old.
</p>
<p>
	One of the goals is to become something similar to Angular Material or PrimeNG,
	but instead of making bundles and packages,
	I'll just write down how to make every single component.
	After all, It's horrible when you find that pre-made component that
	<span style="font-weight: bold;">almost</span> does what you need.
</p>
<p style="color: orange">This guide is eternally a work in progress.</p>
<!-- #endregion -->

<h3 class="title">Done</h3>
<div>
	<button (click)="goTo('routes')">Routes</button>
	<button (click)="goTo('global-font')">Global Font</button>
	<button (click)="goTo('html-element')">HTML elements and ref</button>
	<button (click)="goTo('flex')">Flex</button>
	<button (click)="goTo('nier')">Nier</button>
	<button (click)="goTo('text-overflow')">Text overflow</button>
	<button (click)="goTo('forms')">Forms</button>
</div>

<!-- #region Todo List -->
<div style="margin-bottom: 1rem;">
	<h3 class="title">ToDo List</h3>
	<div>Init angular project</div>
	<div>Component</div>
	<div>Directive</div>
	<div>ngModel</div>
	<div>Events</div>
	<div>Button</div>
	<div>Dropdown</div>
	<div>Multiselect</div>
	<div>Card</div>
	<div>CSS tricks</div>
	<div>Teste E2E com cypress</div>
	<div>ngHost e ngdeep</div>
	<div>Encapsulation</div>
	<div>Color</div>
	<div>ViewChildren(component)</div>
	<div>ViewChildren(templateRef)</div>
	<div>Hooks</div>
	<div>Deploying to github pages</div>
	<div>Injeção de dependencia</div>
</div>
<!-- #endregion -->