<h3>HTML elements on typescript</h3>
<p>
	HTML elements are represented by the
	<a href="https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement">HTMLElement interface</a>.
	This interface has properties that the user can access to control HTML elements.
	Even the HTML itself can be accessed.

	For example: A variable containing a div element is of type HTMLDivElement.
	That means you can access div properties easily in your typescript code by doing so:

	The interface of each HTMLElement can be found on the Technical Summary section, under DOM Interface:
	<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div#technical_summary">asddsa</a>
</p>
