<!-- #region Deploy to github pages -->
<div>
	<h3 class="title">Deploy to github pages</h3>
	<p>
		It's possible to deploy your angular application to Github Pages.
		<br>
		To deploy to github pages, build your application like so:
	</p>
	<p></p>
	<pre class="code-text-section">{{textDict['deploy1']}}</pre>

	<p>
		The --base-href flag should be set so Github finds the application folder. <br>
		&lt;project-name&gt; can be found in the angular.json file, directly under projects:
	</p>
	<pre class="code-text-section">{{textDict['deploy3']}}</pre>

	<p>The --output-path flag creates a folder named docs and compiles the project there.
	</p>
	<p>
		You can also change the outputPath property on your angular.json,
		following the json properties:
	</p>
	<pre class="code-text-section">{{textDict['deploy2']}}</pre>
	<br>
	<p>
		Access the Settings tab in your repository at Github. <br>
		<img src="assets/images/deploy1.png" alt="">
		Under Code and automation, select the Pages section and change
		the folder at which the Github Pages is building your application to /docs:
	</p>
	<img src="assets/images/deploy2.png" alt="">
	<img src="assets/images/deploy3.png" alt="">


</div>

<!-- #endregion -->

<!-- #region Using images in Github Pages -->
<div>
	<h3 class="title">Using images in Github Pages</h3>
	<p>
		Images path should be relative to the index.html file. <br>
		If you have a folder structure like so:

	</p>
	<pre class="code-text-section">{{textDict['image1']}}</pre>
	<p>You have to reference that image in the img tag as such:

	</p>
	<pre class="code-text-section">{{textDict['image2']}}</pre>
</div>
<!-- #endregion -->