<h1 class="header">Angular for dummies</h1>

<div class="flex-column content">

	<!-- #region Introduction -->
	<h1 class="title-big">Cheat Sheet</h1>

	<p>
		The objective of this guide is to compile lots of Angular, html, css and typescript tricks into one Cheat Sheet.
	</p>
	<p>
		As far as I'm concerned, the hardest part of being a developer is not knowing how to do something.
		It's a pain to get stuck on something and spending hours trying to find an answer.
		Sometimes we do find the answer, but don't understand it.
		So, I'll just write down anything I think it's useful for front-end development as If I'm explaining it to a 5
		year old.
	</p>
	<p>
		One of the goals is to become something similar to Angular Material or PrimeNG,
		but instead of making bundles and packages,
		I'll just write down how to make every single component.
		After all, It's horrible when you find that pre-made component that
		<span style="font-weight: bold;">almost</span> does what you need.
	</p>
	<p style="color: orange">This guide is eternally a work in progress.</p>
	<!-- #endregion -->

	<!-- #region Todo List -->
	<div style="margin-bottom: 1rem;">
		<h3 class="title">ToDo List</h3>
		<div>Init angular project</div>
		<div>Component</div>
		<div>Routing</div>
		<div>Directive</div>
		<div>ngModel</div>
		<div>Events</div>
		<div>Button</div>
		<div>Dropdown</div>
		<div>Multiselect</div>
		<div>Card</div>
		<div>CSS tricks</div>
		<div>Teste E2E com cypress</div>
		<div>ngHost e ngdeep</div>
		<div>Encapsulation</div>
		<div>Color</div>
		<div>ViewChildren(component)</div>
		<div>ViewChildren(templateRef)</div>
		<div>Hooks</div>
		<div>Deploying to github pages</div>
		<div>Injeção de dependencia</div>
	</div>
	<!-- #endregion -->

	<!-- #region Deploy to github pages -->
	<div>
		<h3 class="title">Deploy to github pages</h3>
		<p>
			It's possible to deploy your angular application to Github Pages.
			<br>
			To deploy to github pages, build your application like so:
		</p>
		<p></p>
		<pre class="code-text-section">{{textDict['deploy1']}}</pre>

		<p>
			The --base-href flag should be set so Github finds the application folder. <br>
			&lt;project-name&gt; can be found in the angular.json file, directly under projects:
		</p>
		<pre class="code-text-section">{{textDict['deploy3']}}</pre>

		<p>The --output-path flag creates a folder named docs and compiles the project there.
		</p>
		<p>
			You can also change the outputPath property on your angular.json,
			following the json properties:
		</p>
		<pre class="code-text-section">{{textDict['deploy2']}}</pre>
		<br>
		<p>
			Access the Settings tab in your repository at Github. <br>
			<img src="/assets/images/deploy1.png" alt="">
			Under Code and automation, select the Pages section and change
			the folder at which the Github Pages is building your application to /docs:
		</p>
		<img src="/assets/images/deploy2.png" alt="">
		<img src="/assets/images/deploy3.png" alt="">


	</div>

	<!-- #endregion -->

	<!-- #region Setting font -->
	<div>
		<h3 class="title">Setting global font</h3>
		<pre class="code-text-section">
		Setting font using @font-face.
		Download the font zip and put it inside a folder.
		For example: src/assets/font
		Set the font family using @font-face in your style sheet.
		It is recommended to create a _font.scss like so:
		@font-face 
			font-family: Roboto;
			src: url(../font/Roboto-Thin.ttf);
			font-weight: 100;
		

		font-family should be any name
		src should be the relative path to your font.
		font-weight should be relative to your font.
		Follow this relation:
		Font: thin / font-weight: 100
		Font: light / font-weight: 300
		Font: regular / font-weight: 400
		Font: medium / font-weight: 500
		Font: bold / font-weight: 700
		Font: black / font-weight: 900

		Then, import your _font.scss style into your global style sheet.

		styles.scss:
		@import '../src/assets/styles/font';
		body &#123;
		&#09; font-family: 'Roboto'
		a	font-weight: 100
		&#123;
	</pre>
	</div>
	<!-- #endregion -->

	<!-- #region Double click directive -->
	<pre class="code-text-section">

		Double click
		// RxJS v6+  
		import &#123; fromEvent &#125; from 'rxjs';
		import &#123; buffer, filter, throttleTime &#125; from 'rxjs/operators'
		// streams
		const clicks$ = fromEvent(document, 'click')
		/*
		Collect clicks that occur, after 250ms emit array of clicks
		*/ 
		clicks$
		.pipe(
		buffer(clicks$.pipe(throttleTime(250))),
		// if array is greater than 1, double click occured
		filter(clickArray => clickArray.length > 1)
		)
		.subscribe(() => console.log('Double Click!'));
	</pre>
	<!-- #endregion -->

	<!-- #region Table trick -->
	<pre class="code-text-section">
		<div>
			Table trick
		</div>
		<div>
			Problem 1a: When you want multiple elements to occupy as much space as possible while being equal to
			each
			other.
		</div>
		<div>
			Solution 1a: You can set the width attribute to 100% on all elements:
		</div>
		<div class="flex">
			<div style="width: 100%;background-color: red;">Banana</div>
			<div style="width: 100%;background-color: blue;">Apple</div>
			<div style="width: 100%;background-color: green;">Pineapple</div>
		</div>

		<div>
			Problem 1b: Solution 1a doesn't work if you want to change the width of a element while still having the
			others occupy as much space as possible.
			Note that the blue element isn't 230 pixels wide.
		</div>
		<div class="flex">
			<div style="width: 100%;background-color: red;">Banana</div>
			<div style="width: 230px;background-color: blue;">Apple</div>
			<div style="width: 100%;background-color: green;">Pineapple</div>
		</div>
		<div>
			Solution 1b: You can "transform" the elements into a table:
		</div>
		<div style="display:table;table-layout: fixed;width: 100%;">
			<div style="display: table-cell;background-color: red;">Banana</div>
			<div style="display: table-cell;width: 230px;background-color: blue;">Apple</div>
			<div style="display: table-cell;background-color: green;">Pineapple</div>
		</div>
	</pre>
	<!-- #endregion -->

	<app-card>

	</app-card>

</div>